# アプリケーション接続用（サンプル）
DB_HOST=db
DB_USER=user
DB_PASSWORD=password
DB_NAME=myapp_db

# MySQLコンテナ初期化用（サンプル）
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=myapp_db
MYSQL_USER=user
MYSQL_PASSWORD=password

# Keycloak_db接続用（サンプル）
POSTGRES_DB=keycloak
POSTGRES_USER=keycloak_user
POSTGRES_PASSWORD=keycloak_password

# Keycloak接続用（サンプル）
KEYCLOAK_ADMIN=admin    
KEYCLOAK_ADMIN_PASSWORD=admin
KC_DB=postgres   # ここはdocker-compose.ymlのサービス名と一致させる必要があります
KC_DB_USERNAME=keycloak_user
KC_DB_PASSWORD=keycloak_password